.carousel,.item{height:95%;}
.carousel-inner{height:100%;}

#jumbo1{
  background: rgba(173,216,230,0.6);
}

#jumbo2{
  background: rgba(255,179,186,0.6);
}

#jumbo3{
  background: rgba(186,225,255,0.6);
}

#jumbo4{
  background: rgba(186,255,201,0.6);
}

#jumbo5{
  background: rgba(232,205,255,0.6);
}

#gold{
  background: rgb(255,215,0);
  background: rgba(255,215,0,0.6);
}

#blue{
  font-size: 5vw;
  background: rgb(30,144,255);
  background: rgba(30,144,255,0.6);
}

@font-face {
  font-family: Swag;
  src: url('goodvibes.otf');
}

#pure{
  text-align: center;
  font-weight: bold;
  font-size: 6vw;
  color: rgba(255,255,255,0.7);
}

#pureSubHeading{
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  color: rgba(255,255,255,0.7);
}

h1{
  font-family: Swag;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel .one {
    background: url('res/img/UCSB-from-air.jpg');
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background-image: url('res/img/eng.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url('res/img/twr.jpg') center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.carousel .four {
    background: url('res/img/dlg.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .five {
    background: url('res/img/ucen.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
