.carousel,.item{height:95%;}
.carousel-inner{height:100%;}

.card-container{
  color: rgba(255,255,255,0.7);
  font-family: Zapf Chancery,cursive;
  font-weight: bold;
  height: 12%;
}

.card-table-title {
  display: table;
  width: 96%;
  font-size: 5vh;
  left: 2%;
  right: 2%;
  height: 10%;
  text-align: center;
  position: absolute;
}

span {
  display: table-cell;
  vertical-align: middle;
}

.card-table {
  width:96%;
  left: 2%;
  right: 2%;
  position: absolute;
}

#skills > .card-table > .row {
  overflow-x: scroll;
  white-space: nowrap;
}

#skills,#work > .card-table > .row > .col-xs-12,.col-sm-4 {
  float: none;
}

#skills,#work > .card-table > .row > .col-xs-12,.col-sm-4 > .card {
  display: inline-block;
}

#work > .card-table > .row {
  overflow-x: scroll;
  white-space: nowrap;
}

#work > .card-table > .row > .column {
  float: none;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}
#work > .card-table > .row > .column > .card {
  display: inline-block;
}

.img-responsive{
  max-height: 20vh;
}

.card {
  text-align: center;
  padding: 5px;
  font-size: 3vh;
  margin: 1%;
}

.job-title {
  text-align: left;
  font-size: 3.5vh;
}

.job-company {
  text-align: left;
  font-size: 3vh;
}

.job-duration {
  text-align: left;
  font-size: 3vh;
}

.job-description {
  text-align: left;
  font-size: 2.5vh;
}

#jumbo1{
  background: rgba(173,216,230,0.6);
}

#jumbo2{
  background: rgba(255,179,186,0.6);
}

#jumbo3{
  background: rgba(186,225,255,0.6);
}

#jumbo4{
  background: rgba(186,255,201,0.6);
}

#jumbo5{
  background: rgba(232,205,255,0.6);
}

#gold{
  background: rgb(255,215,0);
  background: rgba(255,215,0,0.6);
}

#blue{
  font-size: 5vw;
  background: rgb(30,144,255);
  background: rgba(30,144,255,0.6);
}

@font-face {
  font-family: Swag;
  src: url('goodvibes.otf');
}

#pure{
  text-align: center;
  font-weight: bold;
  font-size: 7vh;
  color: rgba(255,255,255,0.7);
}

#pureSubHeading{
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  color: rgba(255,255,255,0.7);
}

#skills{

}

#education{
  height: 12%;
}

h1{
  font-family: Zapf Chancery,cursive;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel .one {
    background: url('res/img/UCSB-from-air.jpg');
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background-image: url('res/img/eng.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url('res/img/twr.jpg') center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.carousel .four {
    background: url('res/img/dlg.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .five {
    background: url('res/img/ucen.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
